* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    width: 100%;
    height: 8em;
    background-color: #FFF3F3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

header>img {
    width: 23%;
}

header>a {
    width: 50%;
}

#banner1 {
    width: 100%;
}

nav {
    background-color: #8E1616;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

li>a {
    padding: 0.4em 0.7em;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.mainContainer img {
    width: 100%;
    height: 70vh;
}

.container .mainContainer {
    position: relative;
}

.mainContainer .jsPart {
    background-color: #CECECE;
    opacity: 90%;
    position: absolute;
    margin-left: 6%;
    width: 88%;
    height: 64vh;
    top: 13%;
    border: 2px solid gray;
}

#car {
    position: absolute;
    color: white;
    top: 3%;
    margin-left: 25px;
}

.car-covarage {
    width: 100%;
    height: 30vh;
    background-color: #CECECE;
    margin-top: 0;
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 4%;
}

.title>h1 {
    color: #2C2C2C;
}

.row1 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

input[type=text] {
    padding: 10px;
    width: 100%;
}

#select {
    padding: 10px;
    width: 200px;
}

input[type=submit] {
    color: white;
    background-color: #339235;
    padding: 10px;
    border: none;
    width: 150px;
    border-radius: 12px;
    font-size: 1.3em;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.result {
    text-align: center;
    margin-top: 3%;
}

#answer {
    text-align: center;
    color: green;
    font-size: 2em;
}

.section {
    display: flex;
    justify-content: space-around;
}

.text>h3,
h1 {
    color: #3D3D3D;
}

.text {
    padding-top: 4%;
}

.card {
    border-top: 2px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    height: 45vh;
    margin-top: 7%;
    padding: 10px;
    color: gray;
    padding-top: 30px;
    padding-left: 60px;
    /* line-height: 26pt;*/
}

.check::before {
    content: "\2713";
    color: #93D3D5;
    margin-right: 20px;
}

.check {
    list-style: none;
}

.card>h4 {
    color: #3D3D3D;
}

.card>h3 {
    color: #8592A9;
}

.card>ul li {
    line-height: 30pt;
}

.section>.card {
    flex-direction: column;
}

footer {
    background-color: black;
    width: 100%;
    margin-top: 5%;
    padding: 1%;
}

.navFooter {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    margin-right: 2em;
    background-color: black;
}

footer>nav {
    background-color: black;
}

.footertext {
    color: white;
    text-align: center;
    font-size: 1em;
}

.logoF {
    text-align: right;
    margin-right: 5%;
}

.newsimage2 {
    text-align: right;
    margin-right: 2%;
    width: 25%;
}